:root {
	--cor-1: #e23e57;
	--cor-2: #ffffff;
	--cor-3: #e96a7e;
	--cor-4: #ce1f3a;
	--cor-5: #e6e6e6;
	--cor-6: #ef97a4;
}

strong {
	color: var(--cor-1);
	font-weight: bold; /* mantém o negrito */
	background: linear-gradient(90deg, #e23e57, #ce1f3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2,h1{
    color: var(--cor-2);
}

.invSec-container-main {
	height: 150vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.invSec-container-content {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	background-color: var(--cor-6);
	align-items: center;
	justify-content: space-evenly;
}

.invSec-container-convite-img {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
    width: 100%;
    height: 30%;
}

.invSec-container-inauguracao{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.invSec-container-right {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

.invSec-container-left {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.invSec-container-imagens-convite {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 8%;
	align-items: center;
	justify-content: center;
}

.invSec-container-convite-final {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.invSec-container-convite{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.invSec-title-invite {
    width: 70%;
	font-size: 35px;
	color: var(--cor-2);
	padding: 0;
	margin: 0;
}

/* .invSec-text-welcomeSection{
    font-size: 18px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-5);
    padding: 0;
    margin-top: 10px;
} */

.invSec-inauguracao-imagens {
	width: 50%;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.foto-promocional {
	width: 360px;
	height: 240px;
}

ul {
	font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    color: #e6e6e6;
    width: 80%;
}

.invSec-text{
    color: #e6e6e6;
    font-size: 20px;
    width: 70%;
}
